.dashboard-container.overlay-10.padded-content-page.layout.layout-column.ng-scope
    // TARJETA PARA BUSCAR PROYECTOS
    div(layout='row', layout-md='column')
        md-card(flex='', layout-padding='')
            md-card-content
                div(layout="column" layout-align="center-center")
                    md-progress-circular(md-mode="indeterminate" ng-if="vm.waiting")
                div(ng-hide="vm.isCreating")
                    h2.md-display-2.text-center(translate='') PROJECT.DESCRIPTOR.MY_PROJECT
                    h3.md-display-1.text-center(translate='') PROJECT.DESCRIPTOR.INSTRUCTIONSRESULT
                    md-autocomplete.margin-bottom-20(ng-disabled='vm.isDisabled', md-no-cache='vm.noCache', md-selected-item='vm.selectedItem', md-search-text-change='vm.searchTextChange(vm.searchText)', md-search-text='vm.searchText', md-selected-item-change='vm.selectedItemChange(item)', md-items='item in vm.querySearch(vm.searchText)', md-item-text='item.Titulo', md-min-length='0', placeholder="{{ 'PROJECT.DESCRIPTOR.PLACEHOLDER.SEARCH_PROJECT' | translate }}")
                        span.md-display-1(md-highlight-text='vm.searchText', md-highlight-flags='^i') {{item.Titulo}}
    // Tarjeta para eliminar Resultados
    div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.selectedItem!=null')
        md-card(flex, layout='column')
            md-card-content
                h2.md-display-2.text-center(translate='') PROJECT.DESCRIPTOR.MY_RESULTS
                div(layout="column" layout-align="center-center")
                    md-progress-circular(md-mode="indeterminate" ng-if="vm.waitingList")
                div(ng-hide="vm.isCreatingList")
                    md-autocomplete.margin-bottom-20(
                    ng-disabled='vm.isDisabledResultado',
                    md-no-cache='vm.noCache',
                    md-selected-item='vm.selectedItemResultado',
                    md-search-text-change='vm.searchTextChange(vm.searchTextResultado)',
                    md-search-text='vm.searchTextResultado',
                    md-selected-item-change='vm.selectedItemChangeResultado(item)',
                    md-items='item in vm.querySearchResultado(vm.searchTextResultado)',
                    md-item-text='item.TipoDescriptor', md-min-length='0',
                    placeholder="{{ 'PROJECT.DESCRIPTOR.PLACEHOLDER.SEARCH_DESCRIPTOR' | translate }}")
                        span(md-highlight-text='vm.searchTextResultado', md-highlight-flags='^i') {{item.TipoDescriptor}}-{{item.DescriptorTitulo}}
                div(layout="column" ng-show="vm.selectedItemResultado!=null")
                    h4.md-headline {{('PROJECT.DESCRIPTOR.TABLE.COL_TIPO' | translate)}} &nbsp
                        label.md-headline {{ vm.selectedItemResultado.TipoDescriptor}}
                        br
                    h4.md-headline {{('PROJECT.DESCRIPTOR.TABLE.COL_DESCR' | translate)}} &nbsp
                        label.md-headline {{vm.selectedItemResultado.DescriptorTitulo}}
                        br
                    h4.md-headline {{('PROJECT.DESCRIPTOR.TABLE.COL_RES' | translate)}} &nbsp
                        label.md-headline {{vm.selectedItemResultado.TipoResultado}}
                        br
                    h4.md-headline {{('PROJECT.DESCRIPTOR.TABLE.COL_FECH_REG' | translate)}} &nbsp
                        label.md-headline(ng-bind="vm.formatDate(vm.selectedItemResultado.FechaAprobacion) |  date:'MM/dd/yyyy'")
                        br
                    h4.md-headline {{('PROJECT.DESCRIPTOR.TABLE.COL_FECH_APR' | translate)}} &nbsp
                        label.md-headline(ng-bind="vm.formatDate(vm.selectedItemResultado.FechaRegistro) |  date:'MM/dd/yyyy'")
                        br
                    h4.md-headline {{('PROJECT.DESCRIPTOR.TABLE.COL_PCT' | translate)}} &nbsp
                        label.md-headline {{vm.selectedItemResultado.PCT}}
                        br
                    md-button.md-raised.md-primary(ng-click='vm.edit(vm.selectedItemResultado)')
                        span.md-button.text-center(translate='') PROJECT.DESCRIPTOR.EDITPRO
                    md-button.md-raised(ng-click='vm.createDialog($event,vm.selectedItemResultado)', ng-class="['md-warn','md-hue-2']", aria-label='warn button')
                        span.md-button.text-center(translate='') PROJECT.DESCRIPTOR.DELETEPRO

        // Tarjeta para agregar Resultados
        md-card(flex='', layout='column', ng-show='vm.selectedItem!=null')
            md-card-content
                h2.md-display-2.text-center(translate='') PROJECT.DESCRIPTOR.ADD_RESULT
                form(name='registrarResultado', novalidate='')
                    md-input-container
                        label(translate='') PROJECT.DESCRIPTOR.TYPE
                        md-select(ng-model='vm.resultadosDescriptor.idTipoDescriptor',md-on-close='vm.showDescriptor()' ,required='', name='tipo')
                            md-option(ng-repeat='tipo in vm.tipoDescriptor', value='{{tipo.id}}')
                                | {{tipo.Nombre}}
                    md-input-container
                        label(translate='') PROJECT.DESCRIPTOR.DESCRIPTOR
                        md-select(ng-model='vm.resultadosDescriptor.idDescriptor', required='', name='descriptor')
                            md-option(ng-repeat='descriptor in vm.descriptores', value='{{descriptor.id}}')
                                | {{descriptor.Titulo}}
                    div(layout='row')
                        label(translate='') PROJECT.DESCRIPTOR.INITIAL_DATE
                        md-datepicker(ng-model='vm.resultadosDescriptor.FechaRegistro', name='fInit',required='')
                    div(layout='row')
                        label(translate='') PROJECT.DESCRIPTOR.APROV_DATE
                        md-datepicker(ng-model='vm.resultadosDescriptor.FechaAprobacion', name='fFin')
                    md-input-container
                        label(translate='') PROJECT.DESCRIPTOR.PCT
                        textarea(type='text', ng-model='vm.resultadosDescriptor.PCT', name='clvPct', required='')
                    md-input-container
                        label(translate='') PROJECT.DESCRIPTOR.RESULT
                        md-select(ng-model='vm.resultadosDescriptor.idResultado', ng-required='vm.selectedItem.etapas==null')
                            md-option(ng-repeat='descriptor in vm.resultadosDescriptores', name='idDescriptor', value='{{descriptor.id}}')
                                | {{descriptor.Nombre}}
                    md-button.md-raised(ng-disabled='registrarEtapa.$invalid', ng-click='vm.addItem()', ng-class="['md-primary','md-hue-2']", aria-label='warn button')
                        span.md-button.text-center(translate='') {{(vm.resultadosDescriptor.id==null ? 'PROJECT.DESCRIPTOR.ADD': 'PROJECT.DESCRIPTOR.EDITPRO')| translate}}
