//
   Created by lockonDaniel on 12/21/15.
div.full-image-background.mb-bg-fb-07.overlay-40(layout='column', layout-align='center center')
  div(flex='', layout='row', layout-align='center center', layout-fill='')
    .md-whiteframe-z1.margin-bottom-100(flex='80', layout='column', tri-wizard='')
      div(flex layout="row" ng-hide="vm.hideProject==true")
        md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left")
          md-autocomplete(
          md-selected-item='vm.selectedItem',
          md-search-text='vm.searchText',
          md-items='item in vm.proyectos',
          md-item-text='item.Titulo',
          md-min-length='0',
          placeholder='Who is your Fav Avatar?')
            md-item-template
              span(md-highlight-text='vm.searchText', md-highlight-flags='^i') {{item.Titulo}}
          md-virtual-repeat-container(id="vertical-container" ng-style="vm.listStyle" )
            md-list
              md-divider
              md-item(ng-repeat="proyecto in vm.proyectos | filter:vm.searchText")
                md-button(ng-click="vm.selectedProjects(proyecto)" ng-class="{'selected' : proyecto === vm.selectedProject }")
                  md-icon.avatar(md-svg-icon="assets/images/app/project.svg")
                  span(flex) {{proyecto.Titulo}}
        div(layout="column" flex  id="background")
          md-fab-speed-dial.md-scale.md-fab-top-right(ng-hide="vm.hidden" md-open='vm.isOpen', md-direction='down', ng-class="{ 'md-hover-full': vm.hover }" ng-mouseover="vm.isOpen=true" ng-mouseleave="vm.isOpen=false")
            md-fab-trigger
              md-button.md-fab.md-warn(aria-label='menu')
                md-icon(md-font-icon="fa fa-bars")
            md-fab-actions
              md-button.md-fab.md-raised.md-mini(aria-label="add" ng-click="vm.showRegister($event)")
                md-icon( md-font-icon="fa fa-plus" style="color:white;")
                  md-tooltip(md-direction="left" md-autohide="false" md-visible="vm.tooltipVisible ") Inscribir resultado
              md-button.md-fab.md-raised.md-mini(aria-label='Facebook' ng-show="vm.selectedProject!=null")
                md-icon(md-font-icon="fa fa-table" style="color:white;")
                  md-tooltip(md-direction="left" md-autohide="false" md-visible="vm.tooltipVisible" ng-show="vm.selectedProject!=null") Ver solicitudes
          md-content(ui-view  id="content"  )
            div(layout="column" flex ng-show="vm.selectedProject!=null")
              h2.md-headline-1.text-center(translate="") PROJECT.INSCRIPTION.TITLES.PROJECT
              h2.md-subhead
                span(translate='PROJECT.INSCRIPTION.VIEWS.TITLE')
                span :&nbsp; {{vm.selectedProject.Titulo|htmlToString}}
              h2.md-subhead
                span(translate='PROJECT.INSCRIPTION.VIEWS.DESCRIPTION')
                span :&nbsp; {{vm.selectedProject.Descripcion|htmlToString}}
              h2.md-subhead
                span(translate='PROJECT.INSCRIPTION.VIEWS.BACKGROUND')
                span :&nbsp; {{vm.selectedProject.Antecedentes|htmlToString}}
              h2.md-subhead
                span(translate='PROJECT.INSCRIPTION.VIEWS.OBJECTIVES')
                span :&nbsp; {{vm.selectedProject.Objetivos|htmlToString}}
              h2.md-subhead
                span(translate='PROJECT.INSCRIPTION.VIEWS.JUSTIFICATION')
                span :&nbsp; {{vm.selectedProject.Justificacion|htmlToString}}
              h2.md-subhead
                span(translate='PROJECT.INSCRIPTION.VIEWS.REACH')
                span :&nbsp; {{vm.selectedProject.Alcances|htmlToString}}

            div(layout="row" ng-show="vm.showSolicitudes")
              md-toolbar.md-table-toolbar.md-default
                .md-toolbar-tools
                  span(translate='') PROJECT.INSCRIPTION.SOLICITUDES
              md-table-container
                table(md-table='', md-row-select='', ng-model='vm.selectedSolicitudes')
                  thead(md-head='', md-order='vm.query.order')
                    tr(md-row='md-row')
                      th(md-column='md-column', md-order-by='id')
                        span Programa de Fondeo
                      th(md-column='md-column', md-order-by='PublicoObjetivo')
                        span Convocatoria
                      th(md-column='md-column', md-order-by='CriteriosElegibilidad')
                        span Monto Solicitado
                      th(md-column='md-column', md-order-by='RubrosDeApoyo')
                        span Fecha de Solicitud
                      th(md-column='md-column', md-order-by='RubrosDeApoyo')
                        span
                  // Cuerpo de la tabla
                  tbody(md-body='md-body')
                    tr(md-row='md-row', md-select='sol', md-select-id='{{sol.id}}',ng-repeat='sol in vm.solicitudes | orderBy:vm.query.order')
                      td(md-cell='md-cell') {{sol.ProgramaFondeo}}
                      td(md-cell='md-cell') {{sol.Convocatoria}}
                      td(md-cell='md-cell') {{sol.MontoSolicitado}}
                      td(md-cell='md-cell') {{sol.FechaRegistro}}
                      td(md-cell='md-cell' ng-click="$event.stopPropagation()")
                        div
                        md-button.md-primary.md-fab(arial-label="info", ng-click='vm.showSolicitudInfo(sol,$event)')
                          md-icon(md-font-icon="fa fa-bars")
      div(flex layout="row" ng-show="vm.hideProject==true")
        md-toolbar.md-primary
          .md-toolbar-tools(flex)
            div(flex layout='column')
              div(flex layout='row' layout-sm='column' layout-align='space-between center' )
                h2(translate='') PROJECT.WIZARD.TITLE
                h3(translate='') {{vm.steps[triWizard.currentStep]}}
                h2 {{triWizard.progress}}%
                  span(translate='') PROJECT.WIZARD.COMPLETED
              div(flex layout='row' layout-sm='column' layout-align='center center' )
                h3(translate='') {{vm.proyectoLabel}}
          md-progress-linear.md-accent.padding-bottom-10(md-mode='determinate', ng-value='triWizard.progress')
        md-tabs.md-primary(layout-fill='', md-selected='triWizard.currentStep', md-dynamic-height='', md-stretch-tabs='always')
          md-tab#selectProject
            md-tab-label
              span.oxy-step-label 1
            md-tab-body
              .wizard.layout-padding
                form(name='projectSelect', tri-wizard-form, novalidate='')
                  div(layout='column', flex='')
                    md-switch(ng-model="vm.isNewProject" ng-change="vm.changeSwitch()")
                      span(translate='') PROJECT.REGISTER.NEW_PROJECT

                    md-input-container(ng-show="!vm.isNewProject")
                      label
                        span(translate='') PROJECT.IMPACT.SELECT_YOUR_PROJECT
                      md-select(md-on-close='vm.getProyecto()', ng-model='vm.selectedProject', name='select', ng-required='!vm.isNewProject')
                        md-option(ng-repeat='proyecto in vm.projectList', value='{{proyecto.id}}')
                          | {{proyecto.Titulo}}
                      div(ng-messages='projectSelect.select.$error')
                        div(ng-message='required')
                          span(translate='') PROJECT.WIZARD.REQUIRED-FIELD
          md-tab#info(ng-disabled="vm.isNewProject? false: vm.selectedProject==null")
            md-tab-label
              span.oxy-step-label 2
            md-tab-body
              .wizard.layout-padding
                form(name='projectInfo', tri-wizard-form, novalidate='')
                  div(layout='column', flex='')
                    md-input-container
                      label(translate='') PROJECT.FORM.PROJECT_TITLE
                      input(name='titulo', required, type='text', ng-model='vm.proyecto.Titulo')
                      div(ng-messages='projectInfo.titulo.$error')
                        div(ng-message='', when='required')
                          span(translate='') PROJECT.WIZARD.REQUIRED-FIELD
                    md-input-container
                      label(translate='') PROJECT.FORM.PROJECT_DESCRIPTION
                      textarea(name='descripcion', required, ng-model='vm.proyecto.Descripcion', md-maxlength='300')
                      div(ng-messages='projectInfo.descripcion.$error')
                        div(ng-message='', when='required')
                          span(translate='') PROJECT.WIZARD.REQUIRED-FIELD
          md-tab#history(ng-disabled='projectInfo.$invalid')
            md-tab-label
              span.oxy-step-label 3
            md-tab-body
              .wizard.layout-padding
                form(name='projectHistory', tri-wizard-form)
                  div(flex='', layout='column', layout-wrap='')
                    md-input-container
                      div(text-angular, required, ng-model='vm.proyecto.Antecedentes', ta-toolbar="[['bold','italics','ul','ol']]")
                      label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                      md-divider
