div.dashboard-container.overlay-10.padded-content-page.layout.layout-column.ng-scope
    // TARJETA PARA BUSCAR PROYECTOS
    div(flex layout='row', layout-md='column')
        md-card(flex='', layout-align='center center')
            md-card-content
                div(layout="column" layout-align="center-center")
                    md-progress-circular(md-mode="indeterminate" ng-if="vm.waiting")
                div(ng-hide="vm.isCreating")
                    h2.text-center(translate='') PROJECT.IP.MY_PROJECTS
                        h3.text-center(translate='') PROJECT.IP.INSTRUCTIONS
                        md-autocomplete.margin-bottom-20(ng-disabled='vm.isDisabled', md-no-cache='vm.noCache',
                        md-selected-item='vm.selectedItem',
                        md-search-text-change='vm.searchTextChange(vm.searchText)',
                        md-search-text='vm.searchText',
                        md-selected-item-change='vm.selectedItemChange(item)',
                        md-items='item in vm.querySearch(vm.searchText)',
                        md-item-text='item.Titulo',
                        md-min-length='0',
                        placeholder="{{ 'PROJECT.IP.PLACEHOLDER.SEARCH_PROJECT' | translate }}")
                            span(md-highlight-text='vm.searchText', md-highlight-flags='^i') {{item.Titulo}}
                div(flex ng-show='vm.selectedItem!=null')
                    h3.text.center(translate='') PROJECT.IP.INSTRUCTIONS_SELECT
                    div(layout="column" layout-align="center-center")
                        md-progress-circular(md-mode="indeterminate" ng-if="vm.waitingRegister")
                    div(ng-hide="vm.isCreatingRegister")
                        div(flex layout-gt-md='row' layout-align="space-around center" layout-gt-sm='column')
                            md-input-container
                                label(translate='') PROJECT.IP.SELECT
                                md-select(ng-model='vm.selectedPropiedad', flex)
                                    md-option(ng-repeat='propiedad in vm.transferenciaRegisters', ng-value='propiedad')
                                            | Registro {{propiedad.id}}
                        div(flex layout-gt-md='row' layout-align="space-around center" layout-gt-sm='column')
                            md-button.md-raised(ng-disabled="vm.selectedPropiedad==null" flex ng-click='vm.createDialog()', ng-class="['md-warn','md-hue-2']")
                                span(translate='') PROJECT.IP.REMOVE_REGISTER
                            md-button.md-raised(flex ng-click='vm.selectedPropiedad=null', ng-class="['md-primary']")
                                span(translate='') PROJECT.IP.NEW_REGISTER
        md-card(flex='33', layout-align='center center', ng-hide='true')
            md-card-content
                h2.text.center(translate='') PROJECT.IP.CONTROL_PANEL
                md-divider
                h3.text-center(translate='') PROJECT.IP.SHOW_ADD
                md-checkbox(ng-model='show_add', aria-label='Checkbox 1')
                    span(ng-show='show_add', translate='') PROJECT.IP.HIDE_ADD_CHECKBOX
                    span(ng-show='!show_add', translate='') PROJECT.IP.SHOW_ADD_CHECKBOX
                h3.text-center(translate='') PROJECT.IP.SHOW_INFO
                md-checkbox(ng-model='show_info', aria-label='Checkbox 2')
                    span(ng-show='show_info', translate='') PROJECT.IP.HIDE_ADD_CHECKBOX
                    span(ng-show='!show_info', translate='') PROJECT.IP.SHOW_ADD_CHECKBOX
    div(flex layout='column', layout-md='column')
        .md-whiteframe-z1.margin-top-10.margin-left-10.margin-bottom-100(flex='', ng-show='vm.selectedItem!=null', layout='column', tri-wizard='')
            md-toolbar.md-primary
                .md-toolbar-tools(flex='', layout='row', layout-align='space-between center')
                    h2(translate ng-show='vm.selectedPropiedad==null') PROJECT.IP.INSTRUCTIONS_ADD
                    h2(translate ng-show='vm.selectedPropiedad!=null') PROJECT.IP.INSTRUCTIONS_EDIT
                    h2
                        | {{triWizard.progress}}%
                        span(translate='') PROJECT.WIZARD.COMPLETED
                md-progress-linear.md-accent.padding-bottom-10(md-mode='determinate', ng-value='triWizard.progress')
            md-tabs.md-primary(layout-fill='', md-selected='triWizard.currentStep', md-dynamic-height='', md-stretch-tabs='always')
                md-tab#productosRegistro
                    md-tab-label
                        span.oxy-step-label 1
                        span(translate='') PROJECT.IP.TABS.PRODUCTS
                    md-tab-body
                        .wizard.layout-padding
                            form(name='productosForm', tri-wizard-form='')
                                div(flex='', layout='column', layout-wrap='')
                                    md-input-container
                                        div(text-angular='', required='', ng-model='vm.selectedPropiedad.ProductosDePropiedad', ta-toolbar="[['bold','italics','ul','ol']]" aria-label="productos-propiedas")
                                        label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                                        md-divider
                md-tab#procesosRegistro(ng-disabled='productosForm.$invalid')
                    md-tab-label
                        span.oxy-step-label 2
                        span(translate='') PROJECT.IP.TABS.PROCESS
                    md-tab-body
                        .wizard.layout-padding
                            form(name='procesosForm', tri-wizard-form='')
                                md-input-container
                                    div(text-angular='', required='', ng-model='vm.selectedPropiedad.ProcesosDeTransferencia', ta-toolbar="[['bold','italics','ul','ol']]" aria-label="procesos-transferencia")
                                    label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                                    md-divider
                md-tab#valuacionRegistro(ng-disabled='procesosForm.$invalid')
                    md-tab-label
                        span.oxy-step-label 3
                        span(translate='') PROJECT.IP.TABS.VALUE
                    md-tab-body
                        .wizard.layout-padding
                            form(name='valuacion', tri-wizard-form='')
                                md-input-container
                                    div(text-angular='', required='', ng-model='vm.selectedPropiedad.ValuacionTecnologica', ta-toolbar="[['bold','italics','ul','ol']]" aria-label="valuacion-tecnologica")
                                    label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                                    md-divider
            .wizard-navbar(layout-fill='', layout-padding='', layout='row', layout-align='end center')
                md-button.md-primary.md-raised(ng-click='triWizard.prevStep()', ng-hide='triWizard.currentStep > 2', ng-disabled='triWizard.prevStepDisabled()', translate='PROJECT.WIZARD.PREV' aria-label="previous-button")
                md-button.md-primary.md-raised(ng-click='triWizard.nextStep()', ng-hide='triWizard.progress == 100 && triWizard.currentStep >= 2', ng-disabled='triWizard.nextStepDisabled()', translate='PROJECT.WIZARD.NEXT' aria-label="next-button")
                md-button.md-accent.md-raised(ng-click='vm.addRegister()', ng-show='triWizard.progress == 100 && triWizard.currentStep >= 2 ', translate='PROJECT.WIZARD.SEND' aria-label="send-button")
