div.dashboard-container.overlay-10.padded-content-page.layout.layout-column.ng-scope

    div(flex layout='row', layout-sm='column', layout-md='column', layout-align='center center', ng-show='vm.fondeos==null')
        md-progress-circular(md-mode='indeterminate')
    div(flex='', layout='row', layout-md='column' ng-show='vm.fondeos!=null')
        md-card(flex='')
            md-card-content
                h3.text-center(translate='') PROJECT.VALIDA.SELECTPROGRAM
                md-autocomplete.margin-bottom-20(
                    md-no-cache='vm.noCache',
                    md-selected-item='vm.selectedItem',
                    md-search-text-change='vm.searchTextChange(vm.searchText)',
                    md-search-text='vm.searchText',
                    md-selected-item-change='vm.selectedItemChange(item)',
                    md-items='item in vm.querySearch(vm.searchText)', md-item-text='item.Titulo',
                    md-min-length='0',
                    placeholder='Selecciona el Programa de Fondeo a revisar'
                    md-menu-class='autocomplete-custom-template')
                    md-item-template
                        span.item-title(md-highlight-text='vm.searchText', md-highlight-flags='^i')  {{item.Titulo}}
                        span.item-metadata
                                    | Publico Objetivo:
                                    strong {{item.PublicoObjetivo}}
                        span.item-metastat
                                    |Fondo Total: $
                                    strong {{item.FondoTotal | number:2}}


    div(flex layout='row', layout-sm='column', layout-md='column', ng-show='vm.selectedItem!=null')
        md-card(flex='', layout='row' layout-sm='column' layout-md='column')
            md-card-content(flex layout='row' layout-sm='column' layout-md='column')
                div(flex, layout='column' layout-align='center center')
                    h2.text-center(translate='') PROJECT.INSCRIPTION.INFOPROGRAM
                    h4 Publico Objetivo: {{vm.selectedItem.PublicoObjetivo}}
                    h4 Fondo Total: ${{vm.selectedItem.FondoTotal | number:2}}
                    div(flex layout='column' layout-md='column' layout-sm='column')
                        h4 Criterios de Elegibilidad:
                            h4(ng-bind-html='vm.selectedItem.CriteriosElegibilidad')
                div(flex, layout='column' layout-align='start center')
                    h2.text-center(translate) PROJECT.INSCRIPTION.ASSOCIATED_ANNOUNCEMENTS


                    div(flex layout='row', layout-sm='column', layout-md='column', layout-align='center center', ng-show='vm.convocatorias==null')
                        md-progress-circular(md-mode='indeterminate')

                    form(flex name='selectConvocatoriaForm' ng-show='vm.convocatorias!=null')
                        md-input-container
                            label(translate) PROJECT.INSCRIPTION.SELECT_ANNOUNCEMENT
                            md-select(ng-model='vm.selectedConvocatoria' md-on-close='vm.getSolicitudes()')
                                md-option(ng-repeat='convocatoria in vm.convocatorias' ng-value='convocatoria') {{convocatoria.Nombre}}
                    div(ng-show='vm.selectedConvocatoria!=null' layout-align='space-around-center center' layout='column' layout-sm='column' layout-md='column')
                            h4 Fecha de Inicio: {{vm.selectedConvocatoria.FechaInicio}}
                            h4 Fecha de Término: {{vm.selectedConvocatoria.FechaTermino}}
                            h4 Requisitos:
                            div(ng-repeat='requisito in vm.selectedConvocatoria.Requisitos')
                                ul
                                    li.li-disc {{requisito.Nombre}}: {{requisito.Descripcion}}


    div(flex layout='row', layout-sm='column', layout-md='column', layout-align='center center', ng-show='vm.loadingSolicitudes')
        md-progress-circular(md-mode='indeterminate')

    div(flex layout='row', layout-sm='column', layout-md='column', ng-show='vm.solicitudes!=null')
        md-card(flex)
            md-card-content
                // Cabecera de la md table
                md-table-container(flex)
                    table(flex md-table='',  ng-model='vm.selectedSolicitudes')
                        thead(flex md-head='', md-order='vm.query.order')
                            tr(flex md-row='md-row')
                                th(md-column='md-column', md-order-by='Titulo')
                                    span Proyecto
                                th(md-column='md-column', md-order-by='MontoSolicitado')
                                    span Solicitado
                                th(md-column='md-column', md-order-by='Convocatoria')
                                    span Convocatoria
                                th(md-column='md-column', md-order-by='Modalidad')
                                    span Modalidad
                                th(md-column='md-column', md-order-by='Parque')
                                    span Parque
                                th(md-column='md-column', md-order-by='FechaRegistro')
                                    span Fecha
                                th(md-column='md-column')
                                    span Información

                        // Cuerpo de la tabla
                        tbody(md-body='md-body' flex)
                            tr(flex md-row='md-row', md-select='solicitud', md-select-id='{{solicitud.id}}', md-auto-select='md-auto-select', md-on-select='vm.validando', ng-repeat='solicitud in vm.solicitudes | orderBy:vm.query.order')
                                td(md-cell='md-cell') {{solicitud.Titulo}}
                                td(md-cell='md-cell') ${{solicitud.MontoSolicitado | number:2}}
                                td(md-cell='md-cell') {{solicitud.Convocatoria}}
                                td(md-cell='md-cell') {{solicitud.Modalidad}}
                                td(md-cell='md-cell') {{solicitud.Parque}}
                                td(md-cell='md-cell') {{solicitud.FechaRegistro}}
                                td(md-cell='md-cell')
                                            md-button.md-fab.md-primary.md-raised.md-mini(ng-click='vm.openDialog($event,solicitud)' aria-label='informationButton')
                                                ng-md-icon(icon='menu' size='22')

    div(flex)
        div(flex)
            md-card(flex='', ng-show='vm.showValidate')
                div(layout='column')
                    div(layout='row', layout-align='center center', layout-sm='column')
                        md-card-content
                            h2(translate='') PROJECT.INSCRIPTION.FIELDS
                            form(name='agregarSolicitud', novalidate='')
                                md-input-container
                                    label(translate='') PROJECT.INSCRIPTION.STATUS
                                    md-select(ng-model='estados', required='', name='estados')
                                        md-option(ng-repeat='status in vm.estados', value='{{status.value}}')
                                            | {{status.value}}
                                md-input-container
                                    label(translate='') PROJECT.INSCRIPTION.MOUNTBRING
                                    input(ng-model='montoApoyado', required='', name='montoApoyado')
                                md-button.md-raised(ng-disabled='registrarSolicitud.$invalid', ng-click='validarSolicitud()', ng-class="['md-primary','md-hue-2']", aria-label='warn button')
                                    span(translate='') PROJECT.INSCRIPTION.VALIDATE
    // TARJETA PARA Mostrar la ultima columna editada
    div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.showRow')
        md-card(flex='', layout='column')
            md-card-content
                h3.text-center(translate='') PROJECT.VALIDA.LASTEDITION
                md-list
                    .md-list-item-text
                        h3 Id:
                        h4 {{vm.solicitudEncontrada.id}}
                        h3 Proyecto:
                        h4 {{vm.solicitudEncontrada.proyecto}}
                        h3 Fondo:
                        h4 {{vm.solicitudEncontrada.fondo}}
                        h3 Convocatoria:
                        h4 {{vm.solicitudEncontrada.convocatoria}}
                        h3 Modalidad:
                        h4 {{vm.solicitudEncontrada.modalidad}}
                        h3 Parque Tecnologico:
                        h4 {{vm.solicitudEncontrada.tecnopark}}
                        h3 Monto Solicitado:
                        h4 {{vm.solicitudEncontrada.montosolicitado}}
                        h3 Monto Apoyado:
                        h4 {{vm.solicitudEncontrada.montoApoyado}}
                        h3 TRL Inicial:
                        h4 {{vm.solicitudEncontrada.trlInicial}}
                        h3 TRL Final:
                        h4 {{vm.solicitudEncontrada.trlFinal}}
                        h3 Fecha Registro:
                        h4 {{vm.solicitudEncontrada.fechaRegistro}}
                        h3 Fecha Cierre:
                        h4 {{vm.solicitudEncontrada.fechaCierre}}
                        h3 Resultado:
                        h4 {{vm.solicitudEncontrada.resultado}}
                        h3 Estado de la Solicitud:
                        h4 {{vm.solicitudEncontrada.validado}}

