.full-image-background.mb-bg-fb-02.overlay-40(layout='column', layout-align='center center')

    div(flex layout='column')
        md-toolbar.md-primary
            div.md-toolbar-tools(flex layout='column')
                h2(translate='') FONDEOS.CALL.CHOOSE
        div.wizard(flex layout='row')
            md-button.md-fab(ng-click='vm.getConvocatoria()', ng-class='editar', aria-label='fab button')
                md-icon(md-font-icon='fa fa-pencil')

            md-button.md-fab.md-warn.md-raised(ng-click='vm.cancel()', ng-class='cancelar', aria-label='fab button', ng-show='vm.Convocatoria.id!=null')
                md-icon(md-font-icon='zmdi zmdi-close-circle-o')

            md-input-container
                label(translate) FONDEOS.CALL.CHOOSE
                md-select(ng-model='vm.selectedConvocatoria', name='select', ng-show='vm.Convocatorias!= null')
                    md-option(ng-repeat='convo in vm.Convocatorias', ng-value='convo') {{convo.Nombre}}



        div(layout='row', layout-align='center center')
        p.md-headline.font-weight-300.text-center.text-light(flex='70', flex-sm='90', translate='') FONDEOS.CALL.INTRO
    div(flex='', layout='row', layout-align='center center', layout-fill='')
        .md-w.hiteframe-z1.margin-bottom-100(flex='80', layout='column', tri-wizard='')
            md-toolbar.md-primary
                .md-toolbar-tools(flex='', layout='row', layout-align='space-between center')
                    h2(translate='') FONDEOS.CALL.TITLE
                    h2
                        | {{triWizard.progress}}%
                        span(translate='') FONDEOS.WIZARD.COMPLETED
                md-progress-linear.md-accent.padding-bottom-10(md-mode='determinate', ng-value='triWizard.progress')
            md-tabs.md-primary(layout-fill='', md-selected='triWizard.currentStep', md-dynamic-height='', md-stretch-tabs='always')
                md-tab#info
                    md-tab-label
                        span.oxy-step-label 1
                        span(translate='') FONDEOS.CALL.GENERAL
                    md-tab-body
                        .wizard.layout-padding
                            form(name='convocatoriaInfo', tri-wizard-form='', novalidate='')
                                div(layout='column', flex='')
                                   md-input-container
                                        label(translate='') FONDEOS.CALL.NAME
                                        input(name='Nombre', required='', type='text', ng-model='vm.Convocatoria.Nombre')
                                        div(ng-messages='convocatoriaInfo.Nombre.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD


                                   md-input-container(flex)
                                        label(translate='') FONDEOS.CALL.BEGIN_DATE_CALL
                                        input( mdc-datetime-picker date="true",lang="{{vm.language}}", time="false", type="text", id="time", short-time="false",
                                        format="DD-MM-YYYY",
                                        cancel-text="{{ 'DIALOGS.CANCEL' | translate }}",
                                        ok-text="{{ 'DIALOGS.ACCEPT' | translate }}",
                                        ng-model="vm.Convocatoria.FechaInicio")


                                       md-input-container(flex)
                                           label(translate='') FONDEOS.CALL.END_DATE_CALL
                                           input( mdc-datetime-picker date="true",lang="{{vm.language}}", time="false", type="text", id="time", short-time="false",
                                           format="DD-MM-YYYY",
                                           cancel-text="{{ 'DIALOGS.CANCEL' | translate }}",
                                           ok-text="{{ 'DIALOGS.ACCEPT' | translate }}",
                                           ng-model="vm.Convocatoria.FechaTermino")



                                    md-input-container
                                        label(translate='') FONDEOS.CALL.MAX_AMOUNT
                                        input(name='money', required='', type='number', ng-model='vm.Convocatoria.MontosMaximosTotales', min='0', max='10000000000')
                                        div(ng-messages='convocatoriaInfo.descripcion.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD

                                   md-input-container
                                        label(translate='') FONDEOS.MODALITY.FONDEOS
                                        md-select(ng-model='vm.selectedFondeo', required='', name='fondeo')
                                            md-option(ng-repeat='fondeo in vm.Fondeos', ng-value='fondeo')
                                                | {{fondeo.Titulo}}

                                    md-input-container
                                        label(translate='') FONDEOS.MODALITY.STATUS
                                        md-select(ng-model='vm.Convocatoria.Activo', required='', name='activo')
                                            md-option(ng-repeat='status in vm.Validator', value='{{status.value}}')
                                                | {{status.title}}

                                              div(ng-messages='convocatoriaInfo.activo.$error')
                                                    div(ng-message='', when='required')
                                                        span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD

                md-tab#call(ng-disabled='convocatoriaInfo.$invalid')
                    md-tab-label
                        span.oxy-step-label 2
                        span(translate='') FONDEOS.CALL.REQUERIMENTS
                    md-tab-body
                        .wizard.layout-padding
                            form(name='fondeoRequeriments', tri-wizard-form='')
                                div(layout='column', flex='')
                                    md-card(flex layout='row')
                                        div(flex='')
                                            md-input-container
                                                label(translate='') FONDEOS.CALL.REQUERIMENTNAME
                                                input(name='reqname', ng-model='vm.requisito.Nombre', md-maxlength='15')


                                            md-input-container
                                                label(translate='') FONDEOS.CALL.REQUERIMENTDESC
                                                textarea(name='reqDesc',  ng-model='vm.requisito.Descripcion', md-maxlength='250')
                                                div(ng-messages='convocatoriaInfo.descripcion.$error')
                                                    div(ng-message='', when='required')
                                                        span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD
                                        md-button.md-fab.md-primary.md-raised(ng-click='vm.crearRequisito()', ng-class='guardar', aria-label='fab button')
                                            md-icon(md-font-icon='fa fa-save')

                                    md-card
                                        div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.Requisitos!=null')

                                            md-table-container
                                                table(md-table='', md-row-select='', ng-model='vm.requisito')
                                                    thead(md-head='', md-order='vm.query.order')
                                                        tr(md-row='md-row')
                                                            th(md-column='md-column', md-order-by='Nombre')
                                                                span(translate='') FONDEOS.TABLE.NAME
                                                            th(md-column='md-column', md-order-by='Descripcion')
                                                                span(translate='') FONDEOS.TABLE.DESCRIPTION
                                                                // Cuerpo de la tabla
                                                    tbody(md-body='md-body')
                                                        tr(md-row='md-row', md-select='requisito', md-select-id='{{requisito.Nombre}}', ng-repeat='requisito in vm.Requisitos | orderBy:vm.query.order')
                                                            td(md-cell='md-cell') {{requisito.Nombre}}
                                                            td(md-cell='md-cell') {{requisito.Descripcion}}
                                                            td(md-cell='md-cell' ng-click="$event.stopPropagation()")
                                                                md-button.md-fab.md-warn.md-mini(ng-click='vm.eliminarRequisito(requisito)')
                                                                    md-icon(md-font-icon='fa fa-times-circle')

                            label(translate='') FONDEOS.FEATURES.CLICK_TO_EDIT
                                md-divider
            .wizard-navbar(layout-fill='', layout-padding='', layout='row', layout-align='end center')
                md-button.md-primary.md-raised(ng-click='triWizard.prevStep()', ng-hide='triWizard.currentStep > 0', ng-disabled='triWizard.prevStepDisabled()', translate='FONDEOS.WIZARD.PREV')
                md-button.md-primary.md-raised(ng-click='triWizard.nextStep()', ng-hide='triWizard.currentStep >= 1', ng-disabled='triWizard.nextStepDisabled()', translate='FONDEOS.WIZARD.NEXT')
                md-button.md-accent.md-raised(ng-click='vm.registrarConvocatoria()', ng-show='triWizard.currentStep >= 1 ', translate='FONDEOS.WIZARD.SEND')
                md-button.md-warn.md-raised(ng-click='vm.eliminarConvocatoria()', ng-show='vm.Convocatoria.id!=null', translate='FONDEOS.WIZARD.DELETE')
                md-button.md-primary.md-raised(ng-click='vm.cancel()', ng-show='vm.Convocatoria.id!=null', translate='FONDEOS.WIZARD.STOP_EDIT')



md-tabs.md-primary(md-selected='selectedTabIndex', md-stretch-tabs='always', ng-show='vm.Convocatoria!=null')
    md-tab(label='Modalidades Disponibles')
        md-content.md-padding
            h2(translate='') FONDEOS.CALL.INSTRUCTIONSMODALITY
            md-table-container
                table(md-table='', md-row-select='', ng-model='Modalidades')
                    thead(md-head='', md-order='vm.query.order')
                        tr(md-row='md-row')
                            th(md-column='md-column', md-order-by='Nombre')
                                span(translate='') FONDEOS.TABLE.NAME
                            th(md-column='md-column', md-order-by='Montos')
                                span(translate='') FONDEOS.TABLE.AMOUNT
                            th(md-column='md-column', md-order-by='CriteriosEvaluacion')
                                span(translate='') FONDEOS.TABLE.EVALUATION
                            th(md-column='md-column', md-order-by='Entregables')
                                span(translate='') FONDEOS.TABLE.FILES
                            th(md-column='md-column', md-order-by='FigurasApoyo')
                                span(translate='') FONDEOS.TABLE.SUPPORT
                            th(md-column='md-column')
                                span(translate='') FONDEOS.TABLE.ADD

                                    // Cuerpo de la tabla
                    tbody(md-body='md-body')
                        tr(md-row='md-row', md-select-id='{{modal.id}}',  md-on-select='vm.addConvocatoriaModalidad()', ng-repeat='modal in vm.Modalidades | orderBy:vm.query.order')
                            td(md-cell='md-cell')
                                span {{modal.Nombre}}
                            td(md-cell='md-cell')
                                span {{modal.Montos}}
                            td(md-cell='md-cell') {{modal.CriteriosEvaluacion|htmlToString}}
                            td(md-cell='md-cell') {{modal.Entregables|htmlToString}}
                            td(md-cell='md-cell') {{modal.FigurasApoyo|htmlToString}}
                            td(md-cell='md-cell' ng-click="$event.stopPropagation()")
                                md-button.md-fab.md-primary.md-mini(ng-click='vm.addConvocatoriaModalidad(modal)')
                                    md-icon(md-font-icon='zmdi zmdi-plus-circle')

    md-tab(label='Modalidades Asociadas')
        md-content.md-padding
            h2(translate='') FONDEOS.CALL.INSTRUCTIONSMODALITYRELATION
            md-table-container
               table(md-table='', md-row-select='', ng-model='vm.ModalidadesAsociadas')
                  thead(md-head='', md-order='vm.query.order')
                     tr(md-row='md-row')
                        th(md-column='md-column', md-order-by='Nombre')
                           span(translate='') FONDEOS.TABLE.NAME
                        th(md-column='md-column', md-order-by='Montos')
                           span(translate='') FONDEOS.TABLE.AMOUNT
                        th(md-column='md-column', md-order-by='CriteriosEvaluacion')
                           span(translate='') FONDEOS.TABLE.EVALUATION
                        th(md-column='md-column', md-order-by='Entregables')
                           span(translate='') FONDEOS.TABLE.FILES
                        th(md-column='md-column', md-order-by='FigurasApoyo')
                           span(translate='') FONDEOS.TABLE.SUPPORT
                        th(md-column='md-column')
                           span(translate='') FONDEOS.TABLE.ADD

                                // Cuerpo de la tabla
                  tbody(md-body='md-body')
                     tr(md-row='md-row', md-select-id='{{modality.id}}',  md-on-select='vm.quitarModalidadConvocatoria()', ng-repeat='modality in vm.ModalidadesAsociadas | orderBy:vm.query.order')
                        td(md-cell='md-cell')
                           span {{modality.Nombre}}
                        td(md-cell='md-cell')
                           span {{modality.Montos}}
                        td(md-cell='md-cell') {{modality.CriteriosEvaluacion|htmlToString}}
                        td(md-cell='md-cell') {{modality.Entregables|htmlToString}}
                        td(md-cell='md-cell') {{modality.FigurasApoyo|htmlToString}}
                        td(md-cell='md-cell' ng-click="$event.stopPropagation()")
                            md-button.md-fab.md-warn.md-mini(ng-click='vm.quitarModalidadConvocatoria(modality)')
                                md-icon(md-font-icon='fa fa-times-circle-o')


